@import url("https://fonts.googleapis.com/css2?family=Meie+Script&family=Smythe&display=swap");

header {
  width: 85vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 1rem auto;
}

.title {
  width: 100%;
  font-weight: 100;
  font-size: 2.2rem;
  letter-spacing: 3px;
  font-family: "Meie Script", cursive;
  padding-top: 0.5rem;
  background: lightgoldenrodyellow;
  border: 1px solid rgba(243, 217, 150, 0.582);
}

.title span {
  color: goldenrod;
  font-size: 2.8rem;
  letter-spacing: 6px;
}

.img {
  width: 15%;
  padding: 0.3rem;
}

@media only screen and (max-width: 800px) {
  .img {
    width: 40%;
  }
}
